<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1><u>student info</u></h1>
    <table border="2px" cellpadding="20px" cellspacing="10px">
    <thead>
        <tr>
            <th>batch code</th>
            <th>NAME</th>
           <th colspan="2">courses</th>
        </tr>
          <tr>
              <td rowspan="2">ptdm2</td>
              <td>nvn</td>
              <td>python</td>
              <td>django</td>
          </tr>
          <tr><td>rocky</td>
              <td>python</td>
              <td>django</td>
          </tr>
    </thead>
</body>
</html>